<html>

<head>
    <title>Welcome to Ticketing</title>
    <style>
        body {
            font-size: 18px;
            width: 100%;
            height: 100%;
        }

        .main-wrapper {
            width: 600px;
            max-width: 100%;
            margin: 0 auto;
        }

        .title {
            font-size: 24px;
            margin-bottom: 10px;
        }

        .end-msg {
            margin-top: 20px;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <div class="main-wrapper">
        <h2 class="title">Welcome to Ticketing</h2>
        <p>Hello there!</p><br />
        <p>Your account has been registered successfully!</p><br />
        <p class="end-msg">Have a wonderful day!</p>
    </div>
</body>

</html>